<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mr Hotels - 找回密码</title>
    <link type="text/css" rel="stylesheet" href="css/passwordStyle.css" th:href="@{/css/web_page/passwordStyle.css}"/>
    <link th:href="@{/css/web_page/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/css/web_page/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/web_page/style1.css}" rel="stylesheet" type="text/css" media="all"/>
    <style>
        #backBtn:hover{
            cursor: pointer;
            color: #1a44AF;
            transition: none;
            text-decoration: underline;
        }

        #backBtn{
            color: red;
        }
    </style>
</head>
<body>
<div class="live_wrap live_wrap01" style="position: absolute;left: 50%;top:50%;
			transform: translate(-50%, -50%);">
        <div class="fp-content">
            <div class="fp-title">
                <span>找回密码</span>
            </div>
            <div class="cm-method">
                <p>正在为您重置密码，请选择找回方式<span style="font-size: 14px;font-weight: normal">（<a th:href="@{webLogin}" id="backBtn">点击这里... </a>即可返回登录页面）</span>: </p>
                <div class="cm-email" style="margin-left: 180px;">
                    <a href="email_find" th:href="@{emailFind}"><div class="fp_img"></div></a>
                    <span class="etext">通过邮箱找回密码</span>
                </div>
                <div class="cm-phone">
                    <a href="javascript:;"><div class="fp_img"></div></a>
                    <span class="ptext">通过手机找回密码</span>
                </div>
                <div class="cm-kf" style="font-size: 14px">
                    如果以上两种方式均无法解决，请<a href="javascript:;">联系管理员</a>进行申诉找回密码！
                </div>
            </div>
        </div>
    <div style="clear: both"></div>
    <div class="btmbg" style="text-align: center;margin-top: 50px;">
        <div class="btm">
            <p style="margin:10px 0;font-size: 14px;">Copyright &copy; 2020.Author：Mr.95H, All rights reserved.More 仿冒/复制必究 </p>
            <img src="images/b_1.gif" th:src="@{/images/info/b_1.gif}" width="98" height="33" /><img src="images/b_2.gif" th:src="@{/images/info/b_2.gif}" width="98" height="33" /><img src="images/b_3.gif" th:src="@{/images/info/b_3.gif}" width="98" height="33" /><img src="images/b_4.gif" th:src="@{/images/info/b_4.gif}" width="98" height="33" /><img src="images/b_5.gif" th:src="@{/images/info/b_5.gif}" width="98" height="33" /><img src="images/b_6.gif" th:src="@{/images/info/b_6.gif}" width="98" height="33" />
        </div>
    </div>
</div>
<script th:src="@{/lib/layui/layui.js}"></script>
<script>
    // cm-phone
    layui.use('layer',function () {
        var $ = layui.jquery, layer = layui.layer;
        $(".cm-phone").click(function () {
            layer.msg('功能建设中!')
        })
    })
</script>
</body>
</html>
