
/*自己的CSS*/
*{
    font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu;
    outline:none
}

#tab_category td a{
    margin: 0px 11px;
    line-height: 25px;
}
#tab_category tr td:first-of-type{
    padding: 16px;
}

#brandList li{
    width: 116px;
    height: 48px;
    display: inline-block;
    border: 1px solid #888;
    overflow: hidden;
    box-sizing: border-box;
}
#brandList li>a{
    margin: 0;
}

.reg_c tr input{
    margin-top: 5px;
}
.foot_page_Btn_num{
    width: 30px;
}
/*#brandList li:hover{*/
/*cursor: pointer;*/
/*border: solid 1px rgb(255,50,0);*/
/*transition: all 0.5s;*/
/*}*/
/*#brandList li a:hover{*/
/*color: #ff3600;*/
/*}*/
#address_insert{
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ff4e00;
    color: #fff;
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 1px solid #ff4e00;
    border-radius: 4px;
}

#address_insert:hover{
    background: #ffffff;
    color: #ff4e00;
}

#sou{
    margin-left: 40px;
    margin-bottom: 10px;
}

.phone_div{
    position: absolute;
    width: 280px;
    height: 200px;
    background: #FFFFFF ;
    margin: 0px 0px 0px 295px;
    z-index: 10000;
    /*transition: transform 1s;*/
    /*display: none;*/
}

.close_x{
    color: #AAA;
    cursor: pointer;
    font-size: 16px;
    float: right;
    display: inline-block;
    width: 15px;
    height: 25px;
}

.phone_num,.email_num{
    color: #ff4e00;
    /*font-size: 14px;*/
}

.phone_div p{
    text-align: center;
}

.phone_inside{
    width: 230px;
    margin:10px auto;
}

.phone_inside .true_btn,.phone_inside .cancle_btn,.yes_btn,.no_btn{
    width: 50px;
    height: 22px;
    background: #ff4e00;
    color: #FFFFFF;
    border: 1px solid #ff4e00;
    border-radius: 4px;
    line-height: 20px;
    font-size: 12px;
    /*margin-top: 10px;*/
}

.phone_inside .true_btn{
    margin-right: 30px;
}

.phone_inside span{
    display: inline-block;
    margin-top: 3px;
}

.phone_inside .true_btn:hover,.phone_inside .cancle_btn:hover,.yes_btn:hover,.no_btn:hover{
    background: #FFFFFF;
    color: #ff4e00;
}

.center_div{
    width: 150px;
    margin: 5px auto;
}

.phone_input{
    border: 1px solid #CCCCCC;
    line-height: 22px;
}

.phone_input:focus{
    border: 1px solid #ff4e00;
}
.yes_btn,.true_btn{
    float: left;
}
.no_btn,.cancle_btn{
    float:right;
}
/*.phone_inside .true_btn{*/
/*margin: 8px 20px 8px 30px;*/
/*}*/
.back_top{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 90%;
    right: 10px;
}

.back_top_img{
    width: 50px;
    height: 50px;
    background: url("../../images/back_top1.png");
}

.back_top:hover .back_top_img{
    background: url("../../images/back_top2.png");
}

/*.back_top_img{*/
/*margin: 5px 10px;*/
/*display: block;*/
/*height: 22px;*/
/*line-height: 20px;*/
/*font-size: 14px;*/
/*font-weight: bold;*/
/*}*/

/*.back_top_img span{*/
/*font-size: 30px;*/
/*display: inline-block;*/
/*line-height: 10px;*/
/*margin-top: 10px;*/
/*margin-left: 2px;*/
/*}*/

/*.back_top:hover{*/
/*background-color: #ff4e00;*/
/*color: #FFFFFF;*/
/*}*/
.update_div{
    width: 930px;
    /*background: #d8eefc;*/
}

table.update_tab {
    width: 930px;
    border-collapse: collapse;
    border: 1px solid #eaeaea;
}

table.update_tab tr th,table.update_tab tr td {
    border-collapse: collapse;
    border: 1px solid #eaeaea;
    padding: 10px 15px;
}

.update_input,.news_input,.news_tab textarea,.brand_name,.brand_font,.product_input,.category_input{
    border: 1px solid #CCCCCC;
    height: 25px;
    width: 330px;
}

.update_input:hover,.news_input:hover,.news_tab textarea:hover,.brand_name:hover,.brand_font:hover,.product_input:hover,.category_input:hover{
    border: 1px solid #ff4e00;
}

.update_input:focus,.news_input:focus,.news_tab textarea:focus,.brand_name:focus,.brand_font:focus,.product_input:focus,.category_input:focus{
    border: 1px solid #ffa67f;
}

table.update_tab tr td #img{
    width: 100px;
    height: 100px;
    border: 1px solid #ffede5;
    margin-bottom: -5px;
}

.update_file,.brand_file,.product_file{
    color: #ff4e00;
    /*width: 60px;*/
}

.update_submit,.news_submit,.brand_submit,.product_submit,.category_submit,.userList_submit{
    width: 100px;
    height: 30px;
    border: 1px solid #ff4e00;
    background-color: #ff4e00;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.update_submit:hover,.news_submit:hover,.brand_submit:hover,.product_submit:hover,.category_submit:hover,.userList_submit:hover{
    background-color: #FFFFFF;
    color: #ff4e00;
}

.news_tab,.brand_tab,.product_tab,.category_tab,#userList_tab{
    width: 460px;
    border-collapse: collapse;
}

.news_tab tr th,.news_tab tr td,.brand_tab tr th,.brand_tab tr td,.product_tab tr th,.product_tab tr td,.category_tab tr th,.category_tab tr td,#userList_tab tr th,#userList_tab tr td{
    border-collapse: collapse;
    border: 1px solid #eaeaea;
    padding: 10px 15px;
}

.userList_input{
    border: 1px solid #CCCCCC;
    height: 30px;
    width: 260px;
}

.userList_input:hover{
    border: 1px solid #ff4e00;
}

.userList_input:focus{
    border: 1px solid #ffa67f;
}
#tab{
    table-layout:fixed;
}
#MyDiv1{
    height: 350px;
}
/*END*/


/*忘记密码页面css*/
.live_wrap01 {
    min-height: 600px;
}
.live_wrap {
    width: 100%;
    background-color: rgb(246,246,246);
    /*margin: 0px auto 60px;*/
    padding-bottom: 40px;
}
.fp-wrap {
    width: 100%;
    height: 100%;
}
.fp-content {
    width: 960px;
    /*height: 548px;*/
    margin: 0px auto;
    padding-top: 40px;
}
.fp-title {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #eaedf2;
    background: url("../../images/findPwd.png") no-repeat center;
}
.fp-title span {
    margin-left: 65px;
    line-height: 60px;
    color: #3e3e3e;
    font-size: 20px;
    font-weight: bold;
}
.cm-method {
    width: 960px;
    height: 488px;
    background: url("../../images/bigbgimg.png");
}
.cm-method p {
    padding-top: 40px;
    padding-left: 40px;
    margin-bottom: 60px;
    font-size: 16px;
    color: #3c3c3c;
}
.cm-method .cm-email {
    width: 33.3%;
    float: left;
    text-align: center;
}
.cm-method span {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}
.cm-method .cm-phone {
    width: 33.3%;
    float: left;
    text-align: center;
}
.cm-method .cm-email:hover .etext, .cm-email:hover {
    color: #ff7700;
    cursor: pointer;
}
.cm-method .cm-phone:hover .ptext, .cm-phone:hover {
    color: #76b24b;
    cursor: pointer;
}
.cm-method .cm-else:hover .ptext {
    color: #6798ff;
}
.cm-method .cm-else {
    width: 33.3%;
    float: left;
    text-align: center;
}
.cm-method .cm-kf {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-top: 60px;
}
.cm-method .cm-kf a {
    color: #ff4e00;
}

.cm-method .cm-kf a:hover {
    cursor: pointer;
    color: #1a44AF;
    transition: none;
    text-decoration: underline;
}

.cm-method .fp_img {
    width: 165px;
    height: 165px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
    background: url("../../images/email_phone.png") no-repeat 0px 0px;
}
.cm-method .cm-phone .fp_img {
    background-position: 0px -382px;
}
.cm-method .fp_img {
    width: 165px;
    height: 165px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
    background: url("../../images/email_phone.png") no-repeat 0px 0px;
    background-position-x: 0px;
    background-position-y: 0px;
}
.cm-method .cm-else .fp_img {
    background: url('../../images/other.png');
    background-size: cover;
}
.cm-method .fp_img {
    width: 165px;
    height: 165px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
    background: url("../../images/email_phone.png") no-repeat 0px 0px;
}
.cm-method .cm-email:hover .fp_img {
    background-position: 0px -190px;
}
.cm-method .cm-phone:hover .fp_img {
    background-position: 0px -565px;
}
.cm-method .cm-else:hover .fp_img {
    background: url('../../images/other_hover.png');
    background-size: cover;
}
.fp-item {
    width: 960px;
    height: 488px;
    background: #fff;
}
.fp-item .fp-step-list {
    list-style: none;
    width: 600px;
    margin: 0 auto;
    padding-top: 40px;
}
.fp-item .fp-step-list .step {
    width: 200px;
    text-align: center;
    float: left;
    position: relative;
}
.fp-item .fp-step-list .step.on .line {
    background: #7abd54;
}
.fp-item .fp-step-list .step .line {
    width: 101%;
    height: 5px;
    top: 8px;
    position: absolute;
    background: #cdcdcd;
    border-radius: 4px;
}
.fp-item .fp-step-list .step.on .circle {
    background: #7abd54;
}
.fp-item .fp-step-list .step .circle {
    width: 20px;
    height: 20px;
    left: 50%;
    color: #fff;
    font-size: 8px;
    line-height: 20px;
    font-weight: bold;
    margin-left: -10px;
    border-radius: 10px;
    background: #cdcdcd;
    position: absolute;
}
.fp-item .fp-step-list .step.on span {
    color: #7abd54;
}
.fp-item .fp-step-list .step span {
    display: block;
    padding-top: 30px;
    color: #cdcdcd;
    font-size: 16px;
    font-weight: 600;
}
.fp-item .fp-step-list .step .line {
    width: 101%;
    height: 5px;
    top: 8px;
    position: absolute;
    background: #cdcdcd;
    border-radius: 4px;
}
.fp-item .fp-step-list .step .circle {
    width: 20px;
    height: 20px;
    left: 50%;
    color: #fff;
    font-size: 8px;
    line-height: 20px;
    font-weight: bold;
    margin-left: -10px;
    border-radius: 10px;
    background: #cdcdcd;
    position: absolute;
}
.fp-item .fp-step-list .step span {
    display: block;
    padding-top: 30px;
    color: #cdcdcd;
    font-size: 16px;
    font-weight: 600;
}
.fp-item-content {
    width: 650px;
    margin: 130px 300px;
}
.control_group{
    /*margin-top:25px;*/
    /*text-align: center;*/
}
.control-userName,.control-email,.control-phone,.control-verify{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height:30px;
    font-size:16px;
    text-align: right;

}
.form_userName,.form_email,.form_phone,.form_control{
    width: 250px;
    height: 30px;
    font-size: 14px;
    text-indent: 10px;
    line-height:25px;
    box-sizing: border-box;
    border: 1px solid #AAA;
}
.form_control{
    width: 150px;
    border-bottom: 1px solid #AAA;
    border-left: 1px solid #AAA;
    border-top: 1px solid #AAA;
}
.get_random{
    width: 98px;
    height: 30px;
    background: #ff7700;
    border: 1px #ff7700 solid;
    color: white;
    box-sizing: border-box;
    position: relative;
    left: -2px;
}
.get_random:hover{
    background: #EE7700;
    border: 1px #EE7700 solid;
}
.primary_button,.back_button {
    width: 100px;
    height: 30px;
    background: #ff7700;
    border: 1px solid #ff7700;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    margin-left: 45px;
    text-align: center;
    cursor: pointer;
}
.primary_button:hover,.back_button:hover{
    color: #ff4e00;
    background: #fff;
    border: 1px solid #ff4e00;
}
.random_msg,.email_msg,.user_msg,.pwd_msg,.repwd_msg{
    color: #ff4e00;
    font-size: 12px;
    /*text-align: center;*/
    margin: 4px 0px 4px 102px;
    height: 20px;
    line-height: 20px;
    width: 250px;
}