<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="cn.li.controller"/>
    <!--使mvc生效-->
    <mvc:annotation-driven>
        <!--解决json字符乱码问题-->
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/plain;charset=utf-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--项目启动后默认跳转页面-->
    <mvc:view-controller path="/" view-name="redirect:initPage" />

    <!--忽略静态资源拦截-->
    <mvc:default-servlet-handler/>

    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--全部拦截-->
            <mvc:mapping path="/main/**"/>
            <!--以下除外-->
            <!--<mvc:exclude-mapping path="/login" />
            &lt;!&ndash;<mvc:exclude-mapping path="/main" />&ndash;&gt;
            <mvc:exclude-mapping path="/skipPage" />
            <mvc:exclude-mapping path="/" />
            <mvc:exclude-mapping path="/index"/>
            <mvc:exclude-mapping path="/loginOut" />
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/fonts/**"/>
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/lib/**"/>
            <mvc:exclude-mapping path="/welcome"/>
            <mvc:exclude-mapping path="/webjars/**"/>-->
            <bean id="adminInterceptor" class="cn.li.interceptor.AdminInterceptor" />
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/member/**"/>
            <mvc:mapping path="/webOrder/**"/>
            <bean id="webInterceptor" class="cn.li.interceptor.WebInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--Thymeleaf加载静态资源-->
    <mvc:resources mapping="/images/**" location="/images/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/fonts/**" location="/fonts/"/>
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/lib/**" location="/lib/"/>
    <bean id="templateResolver"
          class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="/WEB-INF/templates/"/>
        <property name="suffix" value=".html"/>
        <property name="characterEncoding" value="UTF-8"/>
        <property name="order" value="1"/>
        <property name="templateMode" value="HTML5"/>
        <property name="cacheable" value="false"/>
    </bean>

    <!--配置Thymeleaf模板解析-->
    <bean id="templateEngine"
          class="org.thymeleaf.spring5.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
    </bean>

    <!--配置Thymeleaf模板解析-->
    <bean id="viewResolver" class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine"/>
        <property name="characterEncoding" value="UTF-8"/>
    </bean>

    <!--配置文件解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--限制文件上传大小-->
        <property name="maxUploadSize" value="10485760"/>
    </bean>
</beans>