<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.li.mapper.HouseMapper">
  <resultMap id="BaseResultMap" type="cn.li.pojo.House">
    <!--@mbg.generated-->
    <result column="house_code" jdbcType="VARCHAR" property="houseCode" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="house_status" jdbcType="INTEGER" property="houseStatus" />
    <association property="houseType" javaType="cn.li.pojo.HouseType">
      <id column="id" property="id"/>
      <result column="price" property="price"/>
      <result column="type_name" property="typeName"/>
    </association>
  </resultMap>
  <insert id="insert" parameterType="cn.li.pojo.House">
    <!--@mbg.generated-->
    insert into house (house_code, type_id, house_status
      )
    values (#{houseCode,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, #{houseStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.li.pojo.House">
    <!--@mbg.generated-->
    insert into house
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="houseCode != null">
        house_code,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="houseStatus != null">
        house_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="houseCode != null">
        #{houseCode,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="houseStatus != null">
        #{houseStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
<!--查询所有客房信息-->
  <select id="getHouseList" resultMap="BaseResultMap">
    select * from house
  </select>


<!--修改客房状态-->
  <update id="updateHouseStatus">
    update house set house_status=#{houseStatus} where house_code=#{houseCode}
  </update>


  <select id="getHouseListByCode" resultMap="BaseResultMap">
    select * from house left join house_type on house.type_id=house_type.id
    where 1=1
      <if test="houseCode != null and houseCode != ''">
        and house_code=#{houseCode}
      </if>
      <if test="houseType!=-1 and houseType != null">
        and type_id=#{houseType,jdbcType=INTEGER}
      </if>
      <if test="houseStatus!=-1 and houseType != null">
        and house_status=#{houseStatus,jdbcType=INTEGER}
      </if>
  </select>
  <select id="getHouseCount" resultType="integer">
    select count(1) from house;
  </select>

  <delete id="deleteHouseByCode">
    delete  from house where house_code IN ('${houseCode}')
  </delete>
    <select id="getHouseByHouseCode" resultMap="BaseResultMap">
      select * from house where house_code=#{houseCode};
    </select>
</mapper>