<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.li.mapper.OrderHouseDetailMapper">
  <resultMap id="BaseResultMap" type="cn.li.pojo.OrderHouseDetail">
    <!--@mbg.generated-->
    <!--@Table order_house_detail-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="house_type_id" jdbcType="INTEGER" property="houseTypeId" />
    <result column="house_code" jdbcType="VARCHAR" property="houseCode" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <association property="houseType" javaType="cn.li.pojo.HouseType">
      <id column="id" property="id"/>
      <result column="houseTypeName" property="typeName"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_id, house_type_id, house_code, money, start_date,
    end_date
  </sql>


  <select id="selectByOrderEndDate" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from order_house_detail
    where
    <![CDATA[`end_date`<now()and house_code!='']]>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  <!--@mbg.generated-->
  select
  <include refid="Base_Column_List" />
  from order_house_detail
  where id = #{id,jdbcType=INTEGER}
</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from order_house_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.li.pojo.OrderHouseDetail">
    <!--@mbg.generated-->
    insert into order_house_detail (id, order_id, house_type_id, house_code, money
    , start_date, end_date
      )
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{houseTypeId,jdbcType=INTEGER}
    , #{houseCode,jdbcType=VARCHAR}, #{money,jdbcType=INTEGER}, #{startDate,jdbcType=TIMESTAMP},
    #{endDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.li.pojo.OrderHouseDetail">
    <!--@mbg.generated-->
    insert into order_house_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="houseTypeId != null">
        house_type_id,
      </if>
      <if test="houseCode != null">
        house_code,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="houseTypeId != null">
        #{houseTypeId,jdbcType=INTEGER},
      </if>
      <if test="houseCode != null">
        #{houseCode,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.li.pojo.OrderHouseDetail">
    <!--@mbg.generated-->
    update order_house_detail
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="houseTypeId != null">
        house_type_id = #{houseTypeId,jdbcType=INTEGER},
      </if>
      <if test="houseCode != null">
        house_code = #{houseCode,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.li.pojo.OrderHouseDetail">
    <!--@mbg.generated-->
    update order_house_detail
    set order_id = #{orderId,jdbcType=INTEGER},
      house_type_id = #{houseTypeId,jdbcType=INTEGER}
      house_code = #{houseCode,jdbcType=VARCHAR},
      money = #{money,jdbcType=INTEGER}
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAllHouseOrderCount" resultType="java.lang.Integer">
    select count(1) from order_house_detail
  </select>


  <!--根据订单id查询客房订单详情-->
  <select id="selectOrderHouseByOrderId" resultMap="BaseResultMap">
    select * from order_house_detail where order_id=#{orderId}
  </select>
</mapper>